<footer>
      
    <div class="div1">
        <a href="aboutus" class="footer-a">About Us</a>  <br>
        <a href="contactus" class="footer-a">Contact Us</a> <br>
        <a href="service" class="footer-a">Service</a><br>
        
    </div>
   
    <div class="div2">
        <a href="reviews" class="footer-a">Reviews</a><br>
        <a href="business" class="footer-a"> Partner</a><br> 
        <a href="terms" class="footer-a">Terms & Conditions</a><br> 
    </div>
    <div class="div3">
        <p class="fp">STAY UPTO DATE WITH US.</p>
        <form action="/" method="POST" id="form" name="subscribe-form">
            <input type="text" placeholder="Enter Your Email" class="femail" name="Subscriber">
            <button class="sbtn" value="submit">
                 Subscribe!
            </button>
           
        </form>
    </div>
    <hr class="fhr">
    <div class="social">
        <h1>FOLLOW US</h1>
        <img src="\images\facebook.png" alt="facebook" class="icons">
        <img src="\images\instagram.png" alt="instagram" class="icons">
        <img src="\images\linkedin.png" alt="linkedin" class="icons">
    </div>
    <p class="copyright">Copyright © 2021 EXCEL Boardband PVT Ltd. <br> All Rights Reserved.</p>
</footer>

</body>
</html>