
<footer>
      
    <div class="div1">
        <a href="laboutus" class="footer-a">About Us</a>  <br>
        <a href="lcontactus" class="footer-a">Contact Us</a> <br>
        <a href="lservice" class="footer-a">Service</a><br>
        
    </div>
   
    <div class="div2">
        <a href="lreviews" class="footer-a">Reviews</a><br>
        <a href="lbusiness" class="footer-a"> Partner</a><br> 
        <a href="lterms" class="footer-a">Terms & Conditions</a><br> 
    </div>
    <div class="div3">
        <p class="fp">STAY UPTO DATE WITH US.</p>
        <input type="text" placeholder="Enter Your Email" class="femail">
        <a href="#" class="sbtn">Subscribe!</a>
    </div>
    <hr class="fhr">
    <div class="social">
        <h1>FOLLOW US</h1>
        <img src="\images\facebook.png" alt="facebook" class="icons">
        <img src="\images\instagram.png" alt="instagram" class="icons">
        <img src="\images\linkedin.png" alt="linkedin" class="icons">
    </div>
    <p class="copyright">Copyright © 2021 EXCEL Boardband PVT Ltd. <br> All Rights Reserved.</p>
</footer>

</body>
</html>