<%- include("partials/LoginH"); -%>

<div class="main-terms-div">
    <h1 class="main-text-h1">EXCEL BROADBAND PVT LTD Limited(EBP)</h1>

    <p>EXCEL BROADBAND PVT LTD Limited(EBP)  holds a Unified Access Services - ISP, PAN India License and Infrastructure Provider - Category I Certificate granted by the Department of Telecommunications (DoT), Ministry of Communications, Government of India &amp; Downlinking Permission granted by Ministry of Information &amp; Broadcasting (MIB).</p>
   <p>EBP strives towards transforming lives of our customers by providing a seamless internet experience backed by a responsive customer care team over EXCEL in Wire using EXCELlent device for EXCELling in the field with our brand identity - EXCEL.</p>
   <p>EBP offers its Internet services in over 40 cities across the country. We have embarked on a journey to provide high speed internet connectivity over a Fiber optic GPON last mile to our customers through our flagship brand, EXCEL GigaFiber.</p>
   <p>EXCEL GigaFiber combines speed and efficiency to create practical internet solutions for households and workplaces to have our Customers access and enjoy their favourite content, games, education and much more online.</p>

   <h1 class="main-text-h1">Our Purpose &amp; Our Vision</h1>
   <p>“To lead contribution to digital inclusion in India by connecting homes &amp; offices online.”</p>
                    <p>“To be in Top 3 Players connecting homes &amp; offices on-line by aligning last-mile-cable Partners and create value for all Stakeholders.”</p>
</div>

<%- include("partials/lfooter"); -%>