<%- include("partials/LoginH"); -%>
<div class="main">
    <img src="\images\cover2.jpg" alt="" class="main-img">
    
    <div class="main-text">

        <h1 class="home-main-h1">High Speed Wifi <br>
            Comprehensive  Service<br>
            And Affordable Price.
            </h1>
            <a href="service" class="home-main-btn"><b>START NOW</b></a>
            
    </div>
</div>

<div class="section1">
    <img src="\images\section1.png" alt="" class="section-img">
    <h1  class="section-h1">Troubleshoot and optimize your <br> 
        existing wireless network.</h1>
        <p class="section-p">
            Expert-level WiFi Performance Assessments are the most <br>
            complete solution to quickly diagnose and fix even the <br>
            most complex of problems.
        </p>
</div>

<div class="section2">
    <img src="\images\section2.png" alt="" class="section-img section2-img">
    <h1  class="section-h1">The right WiFi design for optimal <br>
        performance from day one</h1>
        <p  class="section-p">90% of  WiFi problems are caused by having a <br>
            bad WiFi design. Guarantee optimal system   <br>
            performance with a predictive WiFi design or <br>
            on-location WiFi site survey.</p>
</div>
<div class="section3">
    <img src="\images\section3.png" alt="" class="section-img ">
    <h1 class="section-h1 section3-h1">Ready to get started?</h1>
    <a href="contactus" class="section3-btn">CONTACT US</a>
    
</div>
<%- include("partials/lfooter"); -%>