<%- include("partials/LoginH"); -%>

<div class="service-main-div-1">



    <div class="p-main-div">
        <img class="p-img" src="\images\service-img.jpg" alt="">
    
       <h1 class="p-h1">The new way to Intertainment.</h1>
       <p class="p-p">
       Intertainment brings internet and entertainment 
       together through ONE platform and technology 
       to your home. This is powered by a new technology 
       that delivers broadband to your homes at never before 
       speeds.
       </p>
       
       <a href=".plans" class="p-main-btn"><b>START NOW</b></a>
    
    </div>
    
        <div class="b-main-div-2" id="plans">
        <h1 class="plan-h1">Excel Broadband Plans.</h1>

        <form action="/buynow" method="POST">
            <div class="plan1">
                <img class="plan1-img" src="\images\ott.jpg" alt="">
                <h3 class="plan-p" name="title">Entertainment</h3>
                <h5>Unlimited</h5>    
                <h5>Up to 100Mbps</h5>   
                <h6 class="h62">Calls</h6>  
                <h6>Internet Speed</h6>
                <p class="p-p-extra">Include extra benefit</p>
                <img class="plan-ott-logo" src="images\netflix.png" alt="netflix">
                <img class="plan-ott-logo" src="images\spotify.png" alt="spotify">
                <img class="plan-ott-logo" src="images\hotstar.png" alt="hotstar">
                <br>
                <h5>Netflix</h5>    
                <h5>Spotify</h5>     
                <h5>Hotstar</h5> <br>
                <h6 class="price-p">Monthly price</h6>
                <h2 name="price">₹999</h2>
                <input type="text" value="Entertainment" name="title" hidden>
                <input type="text" value="999.00" name="price" hidden>
                <input type="text" value="\images\ott.jpg" name="image" hidden>
                <button class="plan-btn" value="submit">
                    BUY NOW
                </button>
            </div>
           </form>
          
           <form action="/buynow" method="POST" id="p1">
            <div class="plan2">
                <img class="plan1-img" src="\images\tvshows.jpeg" alt="">
                <h3 class="plan-p">Unlimited</h3>
                <h5>Unlimited</h5>    
                <h5>Up to 250Mbps</h5>   
                <h6 class="h62">Calls</h6>  
                <h6>Internet Speed</h6>
                <p class="p-p-extra">Include extra benefit</p>
                <img class="plan-ott-logo" src="images\netflix.png" alt="netflix">
                <img class="plan-ott-logo" src="images\spotify.png" alt="netflix">
                <img class="plan-ott-logo" src="images\hotstar.png" alt="netflix">
                <br>
                <h5>Netflix</h5>    
                <h5>Spotify</h5>     
                <h5>Hotstar</h5> <br>
                <h6 class="price-p">Monthly price</h6>
                <h2>₹1999</h2>
                <input type="text" value="Unlimited" name="title" hidden>
                <input type="text" value="1999.00" name="price" hidden>
                <input type="text" value="\images\tvshows.jpeg" name="image" hidden>
                <button class="plan-btn" value="submit">
                    BUY NOW
                </button>
            </div>
           </form>
           
           <form action="/buynow" method="POST" >
            <div class="plan3">
                <img class="plan1-img" src="\images\gaming.jpg" alt="">
                <h3 class="plan-p">Ultra</h3>
                <h5>Unlimited</h5>    
                <h5>Up to 300Mbps</h5>   
                <h6 class="h62">Calls</h6>  
                <h6>Internet Speed</h6>
                <p class="p-p-extra">Include extra benefit</p>
                <img class="plan-ott-logo" src="images\netflix.png" alt="netflix">
                <img class="plan-ott-logo" src="images\rockstar.png" alt="netflix">
                <img class="plan-ott-logo" src="images\epic.png" alt="netflix">
                <br>
                <h5>Netflix</h5>    
                <h5>Rockstar</h5>     
                <h5>Epic</h5> <br>
                <h6 class="price-p">Monthly price</h6>
                <h2>₹2999</h2>
                <input type="text" value="Ultra" name="title" hidden>
                <input type="text" value="2999.00" name="price" hidden>
                <input type="text" value="\images\gaming.jpg" name="image" hidden>
                <button class="plan-btn" value="submit">
                    BUY NOW
                </button>
            </div>
           </form>
           
           <form action="/buynow" method="POST" >
            <div class="plan4">
                <img class="plan1-img" src="\images\vip.jpg" alt="">
                <h3 class="plan-p">VIP</h3>
                <h5>Unlimited</h5>    
                <h5>Up to 200Mbps</h5>   
                <h6 class="h62">Calls</h6>  
                <h6>Internet Speed</h6>
                <p class="p-p-extra">Include extra benefit</p>
                <img class="plan-ott-logo" src="images\gaana.png" alt="netflix">
                <img class="plan-ott-logo" src="images\upgrad.png" alt="netflix">
                <img class="plan-ott-logo" src="images\skillshare.png" alt="netflix">
                <br>
                <h5>Gaana</h5>    
                <h5>Upgrad</h5>     
                <h5>Skillshare</h5> <br>
                <h6 class="price-p">Monthly price</h6>
                <h2>₹1299</h2>
                <input type="text" value="VIP" name="title" hidden>
                <input type="text" value="1299.00" name="price" hidden>
                <input type="text" value="\images\vip.jpg" name="image" hidden>
                <button class="plan-btn" value="submit">
                    BUY NOW
                </button>
            </div>
           </form>
           
           <form action="/buynow" method="POST" >
            <div class="plan5">
                <img class="plan1-img" src="\images\premium.jpg" alt="">
                <h3 class="plan-p">Premium</h3>
                <h5>Unlimited</h5>    
                <h5>Up to 250Mbps</h5>   
                <h6 class="h62">Calls</h6>  
                <h6>Internet Speed</h6>
                <p class="p-p-extra">Include extra benefit</p>
                <img class="plan-ott-logo" src="images\gaana.png" alt="netflix">
                <img class="plan-ott-logo" src="images\upgrad.png" alt="netflix">
                <br>
                <h5>Ganna</h5>    
                <h5>Upgrad</h5>     
                 <br>
                <h6 class="price-p">Monthly price</h6>
                <h2>₹1500</h2>
                <input type="text" value="Premium" name="title" hidden>
                <input type="text" value="1500.00" name="price" hidden>
                <input type="text" value="\images\premium.jpg" name="image" hidden>
                <button class="plan-btn" value="submit">
                 BUY NOW
             </button>
            </div>
           </form>
           
           <form action="/buynow" method="POST" > 
            <div class="plan6">
                <img class="plan1-img" src="\images\ott.jpg" alt="">
                <h3 class="plan-p">Basic</h3>
                <h5>Unlimited</h5>    
                <h5>Up to 100Mbps</h5>   
                <h6 class="h62">Calls</h6>  
                <h6>Internet Speed</h6>
                <p class="p-p-extra">Include extra benefit</p>
                <img class="plan-ott-logo" src="\images\spotify.png" alt="netflix">
                <br>
                <h5>Spotify</h5>    
                 <br>
                <h6 class="price-p">Monthly price</h6>
                <h2>₹799</h2>
                <input type="text" value="Basic" name="title" hidden>
                <input type="text" value="799.00" name="price" hidden>
                <input type="text" value="\images\ott.jpg" name="image" hidden>
                <button class="plan-btn" value="submit">
                 BUY NOW
             </button>
            </div>
           </form>
           
           <div class="products">
               <h1 class="product-h1">Broadband Products.</h1>
            
               <form action="/buynow" method="POST" >
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="\images\wifi.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Excel TL-WR840N </h5>
                      <p class="card-text"><b>300 Mbps Router</b> Easy Parental Control, Guest Network, and an Easy Wireless Security Encryption</p>
                      <input type="text" value="Excel TL-WR840N" name="title" hidden>
                      <input type="text" value="1099" name="price" hidden>
                      <input type="text" value="\images\wifi.jpg" name="image" hidden>
                      <button class="btn btn-primary" value="submit">
                         BUY NOW
                     </button> <label class="wifi-price">₹1099</label>
                    </div>
                </div>
               </form>
               
               <form action="/buynow" method="POST" > 
                <div class="card p2" style="width: 18rem;">
                    <img class="card-img-top" src="\images\wifi1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Excel TL-WR841N</h5>
                      <p class="card-text"><b>300Mbps Wireless N Router</b> high-level encryptions to give you a safe and protected connection.</p>
                      <input type="text" value="Excel TL-WR841N" name="title" hidden>
                      <input type="text" value="949" name="price" hidden>
                      <input type="text" value="\images\wifi1.jpg" name="image" hidden>
                      <button class="btn btn-primary" value="submit">
                         BUY NOW
                     </button> <label class="wifi-price">₹949</label>
                    </div>
                </div>
                </form>
    
               
                <form action="/buynow" method="POST" > 
                    <div class="card p3" style="width: 18rem;">
                        <img class="card-img-top" src="\images\wifi2.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Excel TL-WR940N</h5>
                          <p class="card-text"><b>Wireless N 450 Mbps Router </b> With WPA/WPA2 encryption, browse any content on the web without worrying about security</p>
                          <input type="text" value="Excel TL-WR940N" name="title" hidden>
                          <input type="text" value="1249" name="price" hidden>
                          <input type="text" value="\images\wifi2.jpg" name="image" hidden>
                          <button class="btn btn-primary" value="submit">
                             BUY NOW
                         </button> <label class="wifi-price">₹1249</label>
                        </div>
                    </div>
                 </form>
               
                 <form action="/buynow" method="POST" >
                    <div class="card p4" style="width: 18rem;">
                        <img class="card-img-top" src="\images\wifi4.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">TL-SF1006P 10/100Mbps</h5>
                          <p class="card-text">6-Port Desktop Switch with 4-Port PoE+ Up to 250m data and power transmitting range under Extend Mode</p>
                          <input type="text" value="TL-SF1006P 10/100Mbps" name="title" hidden>
                          <input type="text" value="2999" name="price" hidden>
                          <input type="text" value="\images\wifi4.jpg" name="image" hidden>
                          <button class="btn btn-primary" value="submit">
                             BUY NOW
                         </button> <label class="wifi-price">₹2999</label>
                        </div>
                    </div>
                </form>
               
        
                <form action="/buynow" method="POST" >
                    <div class="card p5" style="width: 18rem;">
                        <img class="card-img-top" src="\images\wifi3.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">ADSL2+ Modem Router</h5>
                          <p class="card-text">All-in-One Device: ADSL2+ Modem, NAT Router, 4-Port Switch and Wireless N Access Point</p>
                          <input type="text" value="ADSL2+ Modem Router" name="title" hidden>
                          <input type="text" value="2599" name="price" hidden>
                          <input type="text" value="\images\wifi3.jpg" name="image" hidden>
                          <button class="btn btn-primary" value="submit">
                             BUY NOW
                         </button> <label class="wifi-price">₹2599</label>
                        </div>
                    </div>
                </form>
               
                <form action="/buynow" method="POST" >
                    <div class="card p6" style="width: 18rem;">
                        <img class="card-img-top" src="\images\wifi5.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">AC2600 Wi-Fi Range Extender</h5>
                          <p class="card-text">Four fixed external antennas extend Wi-Fi coverage by up to 14,000 sq ft. 4-Stream for AC2600 Dual Band Wi-Fi – Simultaneous 800Mbps on 2.4GHz + 1733Mbps on 5GHz</p>
                          <input type="text" value="AC2600 Wi-Fi Range Extender" name="title" hidden>
                          <input type="text" value="1699" name="price" hidden>
                          <input type="text" value="\images\wifi5.jpg" name="image" hidden>
                          <button class="btn btn-primary" value="submit">
                             BUY NOW
                         </button> <label class="wifi-price">₹1699</label>
                        </div>
                    </div>
                </form>
        
       </div>
    </div>
    
    </div>

<%- include("partials/lfooter"); -%>

class="btn btn-primary"