<%- include("partials/header"); -%>

<div class="main-terms-div">
    <h1 class="main-text-h1">Terms And Condition</h1>
       <p>T&C mentioned here consists of General Terms & conditions ("GTC") & Product Terms and Conditions ("PTC") along
       with "Acceptable Use Policy". The signing of Subscriber Registration Form (SRF) shall make the T&C mentioned
       herein binding on the subscriber. In case of any inconsistencies in the constituent parts of the Agreement or
       disputes arising with regard to the interpretation of the terms and conditions contained in the said Agreement, the
       following order of precedence shall apply: (i) the SRF and the PTC (ii) the SLA, if applicable and (iii) the GTC General
       Terms and Conditions ("GTC")
       </p>

       <p>
           a company registered under the Companies Act,1956 and having its
           Administrative office at In Centre,49/50 MIDC,12th Road. Andheri (East), Mum
           bai-400 093(hereafter referred to as “EBP which expression shall include its
           successor and permitted assignees) is engaged in the provision of Broadband
           internet access and other related services (hereafter referred to as “services”).
           “Services” means the services provided by EBP whereby subscriber can gain
           access to the Internet through provisioned bandwidth and any value-added
           services offered along with the Internet plan
       </p>

       <p>
           “Bandwidth” means the amount of information that can be carried in a given
           period. “Subscriber” means any person as defined under General Clauses Act 1899 who is
           availing the “services” from EBP and acting for /and on behalf of the Sub
           scriber. “Equipment” means such hardware/software components and assemblies that are
           required to enable “services” to the Subscriber including but not limited to cable
           modems, Ethernet cards, splitters, coaxial/other cables.
       </p>

       <p>
           The services being offered under this Contract are being provided as per the License
           Agreement between Department of Telecommunications and Ministry of Communication. The Subscriber acknowledges and understand that EBP for the operation of it
           services including Internet Telephony services is subject to the subject to other terms
           and conditions the Agreement between Department of Telecommunications and
           Ministry of Communication and extant laws and regulations as may be intimated by
           the DOT to EBP from time to time. The Subscriber clearly understand that the
           services may be terminated and / or suspended under directions from the Government
           of India and the competent authority under no liability of any nature whatsoever
           against EBP
       </p>

       <p>
           OTT Services mentioned herewith (Zee5, Voot Select, Shemaroo Me, Eros Now and EpicON are provided by M2MIT Digital private limited, the authorized reseller for these services.
           Please ensure that the mobile number provided during registration does not already have any of the OTT services active, else it will be rejected at provisioning stage
       </p>
</div>


<div class="faq">
   <h1 class="main-text-h1">frequently asked questions</h1>
<div class="accordion open " id="accordionExample">
   <div class="accordion-item">
     <h2 class="accordion-header" id="headingOne">
       <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Why is Excel broadband best for home?
       </button>
     </h2>
     <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
       <div class="accordion-body">
        <strong>The Excel Broadband</strong>  employs the most modern broadband technology called Excel Fiber with the fiber optic connectivity with speed up to 1 Gbps. The Excel broadband connections also come with their own free router, unlimited STD and local calls and unlocks rewards such as OTT subscription.
       </div>
     </div>
   </div>
   <div class="accordion-item">
     <h2 class="accordion-header" id="headingTwo">
       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        How to buy a new broadband connection?
       </button>
     </h2>
     <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
       <div class="accordion-body">
         <strong>Steps to buy Airtel new broadband connection:-</strong> 
         <ul>
           <li class="faq-li" >Visit Excel Broadband webpage</li>
           <li class="faq-li" >Select best internet plan</li>
           <li class="faq-li" >Fill the form and submit it, after that you will get a new broadband connection installed at your preferred address.</li>
         </ul>
       </div>
     </div>
   </div>
   <div class="accordion-item">
     <h2 class="accordion-header" id="headingThree">
       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How long does it take for new broadband connection to become active?
       </button>
     </h2>
     <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
       <div class="accordion-body">
        Within 48 hours new broadband connection becomes active.
       </div>
     </div>
   </div>
 </div>

</div>

<%- include("partials/footer"); -%>