/* -------------------------login-------------------------*/

body {
    background-image: radial-gradient(#117DFF, #093F80);
    height: 500px;
    font-family:Arial, Helvetica, sans-serif ;
}

.signup {
    background-color: white;
    height: 600px;
    width: 500px;
    margin: 50px 200px;
    border-radius: 5px;
    position: absolute;
    display: inline;
    
    font-weight: bold;
}

img {
    float: right;
    margin-top: 150px;
    margin-right: 200px;
}
h1 {
    margin-left: 40px;
    margin-top: 40px;
    
}
.newuser {
    display: inline;
    font-weight: bold;
}
p{
    margin-top: 40px;
    margin-left: 40px;
    color: #4E4D50;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: #117DFF;
}

a:hover {
    text-decoration: underline;
}
input {
    margin-top: -15px;
    width: 80%;
    margin-left: 40px;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #4E4D50;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.lbtn {
    color: white;
    background-color: #117DFF ;
    padding: 15px 25px;
    margin-top: 40px;
    margin-left: 40px;
    position: absolute;
    border-radius: 5px;
}

.lbtn:hover {
    text-decoration: none;
    background-color: #0f68d4;
}

button {
    color: white;
    border: none;
    font-size: 20px;
}